#header {
    background: var(--primary-light-color);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo img {
    height: 56px;
    width: 55px;
    margin: 0;
    padding: 0;
}

.main-nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-nav-list {
    display: flex;
    width: 250px;
    justify-content: space-between;
    margin: 0 40px;
}

.main-nav-list__item a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: var(--primary-text-color);
}

.header-text {
    display: flex;
    padding-top: 270px;
    flex-direction: column;
    align-items: center;
}

.page-title {
    font-size: 44px;
    font-family: 'Roboto', sans-serif;
    color: var(--primary-dark-color);
}

.page-description {
    font-size: 16px;
    font-family: "Merriweather", sans-serif;
    font-style: italic;
}

.button {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    border: 1px var(--primary-dark-color) solid;
    padding: 20px 50px;
    margin-top: 55px;
}

.circle-1 {
    border-radius: 50%;
    border: 5px #f0f0f0 solid;
    position: absolute;
    bottom: 13%;
    left: 50%;
    transform: translate(-50%, 0);
}

.circle-2 {
    border-radius: 50%;
    border: 5px #e0e0e0 solid;
    position: absolute;
    bottom: 11%;
    left: 50%;
    transform: translate(-50%, 0);
}

.circle-3 {
    border-radius: 50%;
    border: 5px #d0d0d0 solid;
    position: absolute;
    bottom: 9%;
    left: 50%;
    transform: translate(-50%, 0);
}

.menu-panel {
    position: fixed;
    top: 10px;
    left: 10px;
    right: 10px;
    display: none;
}

@media screen and (max-width: 768px){
    .main-nav {
        display: none;
    }

    .menu-panel {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .menu-button img{
        width: 56px;
        height: 56px;
    }
}