#about {
    background: var(--primary-dark-color);
    position: relative;
    display: flex;
    flex-direction: column;
}

.wrapper {
    display: inline-block;
    width: 100%;
}

.timeline {
    width: 5px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
    background-color: var(--primary-light-color);
}

.buildings {
    margin-top: auto;
}

.about-title, .about-description {
    color: var(--primary-light-color);
}

.about-title {
    font-size: 38px;
}

.about-description {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.4;
    padding-top: 20px;
}

.left {
    position: relative;
    text-align: right;
    padding: 0 20px 0 50px;
}

.about-2011 {
    margin-top: 80px;
}

.circle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 5px solid var(--primary-light-color);
    background-color: var(--primary-dark-color);
    position: absolute;
    top: 0;
}

.circle-2011 {
    right: -27.5px;
}